/* bblackmoor@blackgate.net */
/* https://github.com/bblackmoor/whimsy */

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	min-height:100vh;
	transition: 0.5s;
	transition-timing-function: ease-in;
	background-image: linear-gradient(to right bottom, #090D11a8, #89A6C2a8);
}
	
.card-box {
	padding: 2rem 3rem;
	transition: 0.5s;
	transition-timing-function: ease-in;
}
	
.title {
	font-size:30px;
	padding-left:10px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to right bottom, #031324, #0C4E8F);
	color: transparent;
	-webkit-background-clip: text;
}

.card {
	transition: 0.5s;
	transition-timing-function: ease-in;
}

.new-card {
	font-size:15px;
	border-radius: 5px;
	cursor:pointer;
	padding-bottom: 8px;
	padding-top: 9px;
	margin-top: 5px;
	background-image: linear-gradient(to right bottom, #BCCCDCa8, #EEF2F6a8);
}

.text-center {
	text-align: center;
}
	
.new-card:hover {
	opacity: 0.6;
}

.text {
	margin: 10px;
	font-size: 20px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(to right bottom, #28313B, #485461);
	color: transparent;
	-webkit-background-clip: text;
}	
	
p {
	margin-top: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
	top:21.5%;
}

.block {
	perspective: 150rem;
	position: absolute;
	top: 25%;
	left: 27%;
}

.block__main {
	min-width: 45vw;
	position: absolute;
	transition: all .8s ease;
	backface-visibility: hidden;
	box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
	border-radius: .5rem;
	background-image: linear-gradient(to right bottom, #EEF2F6,#DDE6EE);
}

.block__back {
	transform: rotateY(180deg);
}

.rotateF {
	transform: rotateY(-180deg);
}

.rotateB {
	transform: rotateY(0deg);
}

.index-history-span {
	visibility: hidden;
}

 /* Tooltip container */
.copy-span {
	cursor: pointer;
}

/* Tooltip text */
.copy-span .copy-tooltip {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	margin: 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	top: -20px;
	right: -20px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.copy-span:hover .copy-tooltip {
	visibility: visible;
	opacity: 1;
}

/* Refresh icon is a page refresh button */
.btn-refresh {
	visibility: hidden;
	font-size:15px;
	/* line-height: 1.43; */
	cursor: pointer;
	text-align: center;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 10px;
	/* left: calc(50% - 80px); */
	left: 10px;
}